# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build folders
/build/
dist/
*.spec

# Innosetup build folder
*/Output/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
venv/
env/

# Python package files
*.egg-info/

# IDE files
.idea/
.vscode/
